<h2> Update Account </h2>
<form (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
        <label>Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="player.name" name="name"
            placeholder="Enter name">
    </div>

    <div class="form-group mt-3">
        <label>Email</label>
        <input [disabled]="(this.playerUser.id == this.id)" type="text" class="form-control" id="email"
            [(ngModel)]="player.email" name="email" placeholder="Enter email">
    </div>

    <div class="form-group mt-3">
        <label>Score</label>
        <input type="text" class="form-control" id="score" [(ngModel)]="player.score" name="score"
            placeholder="Enter score">
    </div>

    <button class="btn btn-success mt-3" type="submit">Submit</button>
</form>